body.light-mode nav {
    background: rgba(255, 255, 255, 0.9);
}
body.light-mode .logo,
body.light-mode .position {
    color: var(--accent);
}
body.light-mode nav a {
    color: var(--dark);
}
body.light-mode nav a.active,
body.light-mode nav a:hover {
    background: linear-gradient(90deg, var(--primary), var(--accent));
    color: white;
}
body.light-mode .detail-card,
body.light-mode .member-card,
body.light-mode .event-card,
body.light-mode .testimonial-card,
body.light-mode .join-section {
    background: #f0f0f5;
    color: var(--dark);
}


/* ------------------------------ */
/* BUTTON VARIANTS */
/* ------------------------------ */
.btn {
    display: inline-block;
    padding: 0.8rem 2rem;
    border-radius: 30px;
    font-weight: 600;
    cursor: pointer;
    transition: var(--transition);
    border: none;
    font-size: 1rem;
}



.btn-primary {
    background: linear-gradient(90deg, var(--primary), var(--accent));
    color: white;
}


.btn-secondary {
    background: rgba(170, 72, 72, 0.1);
    color: var(--primary);
}


.btn-outline {
    background: transparent;
    border: 2px solid var(--primary);
    color: var(--primary);
}

btn-ghost {
    background: transparent;
    color: var(--light);
    border: none;
}

* Hover States */
.btn:hover {
    transform: translateY(-2px);
    box-shadow: var(--shadow-hover);
}


/* ------------------------------ */
/* FORM FIELD STATES */
/* ------------------------------ */
input.success,
select.success {
    border: 2px solid green;
}


input.error,
select.error {
    border: 2px solid rgb(179, 0, 255);
}


input:disabled,
select:disabled {
    background: #ccc;
    color: #666;
    cursor: not-allowed;
}

/* ------------------------------ */
/* SCROLL TO TOP BUTTON */
/* ------------------------------ */
.scroll-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: var(--primary);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: var(--shadow);
    transition: var(--transition);
    z-index: 999;
    display: none;
}

.scroll-to-top.show {
    display: flex;
}

.scroll-to-top:hover {
    background: var(--accent);
}

